.sidebar-product {
    width: 100%;
    
    text-align: center;
}

.sidebar-product:not(:first-child) {
    margin-top: 40px;
}

.sidebar-product__title {
    margin: 15px 0;

    font-size: 1rem;
    font-weight: 700;
}

.sidebar-product__preview {
    margin: 0 0 20px;
    position: relative;
}

.sidebar-product__status {
    padding: 15px 5px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    font-size: 14px;

    color: #fff;
    background-color: #f44336;
}

.preview__link {
    display: flex;
}

.preview__img {
    width: 100%;
    transition: all .3s;
}

.sidebar-product__info {
    position: relative;
    z-index: 0;
}

.sidebar-product__info::before {
    content: "";

    position: absolute;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;

    background-color: #e7e7e7;
    border-radius: 3px;
    
    z-index: -1;
    opacity: .3;

    transition: all .3s;
}

.sidebar-product__link {
    color: #3265a3;
}

.sidebar-product__price {
    margin: 15px auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.sidebar-product__price--old {
    margin-right: 10px;

    color: #222222;

    font-size: 13px;
    font-weight: 600;
}

.sidebar-product__price--current {
    color: #4f9eff;
}

.sidebar-product__price--old + .sidebar-product__price--current {
    color: #f44336;
}

.sidebar-product__volume {
    margin: 15px 0;

    color: #555;

    font-size: 12px;
    font-weight: 700;

    text-transform: lowercase;
}

.sidebar-product__btn {
    width: 80%;
    margin: auto;

    padding: .618em 1em;

    display: block;

    font-weight: 700;

    color: #ffffff;
    background-color: #4f9eff;
    border: 1px solid transparent;

    border-radius: 3px;
}