@media (max-width: 1260px) {
    .single-product .related.products .owl-nav {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1195px) {
    .categories_list .category_item .title {
        width: 60%;
    }
}

@media (max-width: 1020px) {
    .header_wrap {
        height: 165px;
    }


    .header_top .phones {
        width: 30%;
    }

    .header_top .phones .phone_number {
        margin-bottom: 5px;
    }

    .main_nav.container_flex {
        width: 58%;
        justify-content: flex-end;
    }

    .header_top .main_nav .menu_list {
        margin-bottom: 5px;
    }

    .header_top .menu_list li:last-of-type {
        margin-right: 0;
    }


    .header_bottom .container_flex {
        flex-wrap: wrap;
    }

    .header_bottom .logo {
        margin-right: 20px;
        width: 200px;
    }

    .header_bottom .logo img {
        height: auto;
    }

    .header_bottom .right_side {
        width: 58%;
    }

    .search-holder {
        width: 54%;
    }

    .categories_list .category_item {
        flex-basis: 49.8%;
        margin-bottom: 5px;
    }

    /* Category */
    .tax-product_cat .policesection .content,
    .post-type-archive .policesection .content {
        width: 100%
    }
    body.filter_active.lock {
        overflow: hidden;
    }
    body.filter_active .header_wrap,
    body.filter_active .header_wrap.header_wrap.header_fixed {
        z-index: 1;
    }

    .sidebar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(-100%, 0);
        z-index: 5;
        background: rgba(255,255,255,0.5);
        height: 100vh;
        transition: transform ease-in-out 0.3s;
    }

    .sidebar.active {
        transform: translate(0, 0);
    }

    .sidebar.active .filter_wrapper {
        padding: 25px 15px 30px;
        width: 350px;
        height: 100%;
        background-color: #fff;
        box-shadow: 2px 0 5px rgba(0,0,0,0.2);
        transition: width 0.3s;
        overflow-y: auto;
    }

    .sidebar.active .close_button.mobile {
        position: fixed;
        top: 5px;
        right: 5px;
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 3px;
    }

    .sidebar.active .close_button .close_btn {
        display: block;
        padding: 13px 16px;
    }

    .sidebar.active .close_button.mobile svg {
        width: 18px;
        height: 18px;
        fill: #fff;
    }

    .tax-product_cat .category_filter.mobile,
    .post-type-archive .category_filter.mobile {
        display: block;
        margin: 0 auto 15px;
        position: relative;
    }

    .tax-product_cat .category_filter.mobile .filter_button,
    .post-type-archive  .category_filter.mobile .filter_button {
        display: block;
        width: 250px;
        padding: 10px 0;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        border: 2px solid #e7e7e7;
        border-radius: 6px;
        color: #404040;
    }

    .category_filter.mobile svg {
        position: absolute;
        width: 22px;
        height: 22px;
        top: calc(50% - 11px);
        left: 5%;
        fill: #404040;
        transition: fill 0.3s;
    }

    .category_filter.mobile .filter_button:focus {
        background-color: #cccccc;
        color: #fff;
    }
    .category_filter.mobile .filter_button:focus + svg {
        fill: #fff;
    }

    .post-type-archive .woocommerce-products-header ul.products,
    .tax-product_cat ul.products, .post-type-archive ul.products {
        justify-content: center;
    }

    .tax-product_cat ul.products li.product,
    .tax-product_cat ul.products li.product,
    .post-type-archive ul.products li.product {
        width: 285px;
    }

    .woocommerce .woocommerce-result-count {
        margin-top: 13px;
    }

}

@media (max-width: 950px) {
    .footer .footer_nav {
        padding: 25px 15px 0;
        flex-basis: 46%;
    }

    .footer .contact_info {
        flex-basis: 46%;
    }

    /* Contacts */
    .info_page.dostavka .wp-block-group .wp-block-column {
        padding: 24px 14px;
    }
}

@media (max-width: 910px) {
    .single-product .related.products .product_item .product_image {
        margin: 0 auto 10px;
        width: 250px;
    }

    .single-product.woocommerce .related.products ul.products li.product,
    .single-product.woocommerce-page .related.products ul.products li.product,
    .single-product .related.products .products .product_item {
        width: 100%;
    }

    .single-product .related.products .product_item .price,
    .single-product .related.products .product_item .product_title {
        text-align: center;
    }


}

@media (max-width: 850px) {
    body.lock {
        overflow: hidden;
    }

    body.lock .overlay_content {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        background: rgba(35, 35, 35, 0.6);
        z-index: 2;
    }


    .burger-menu {
        width: 40px;
        height: 20px;
        display: block;
        cursor: pointer;
        position: relative;
        order: -1;
    }

    .menu-btn {
        width: 40px;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease-in-out .1s;
    }

    .menu-btn:before,
    .menu-btn:after {
        content: "";
        width: 40px;
        height: 2px;
        background: #000;
        position: absolute;
        transition: all 0.5s ease-in-out .1s;
    }

    .menu-btn:before {
        top: -9px;
    }

    .menu-btn:after {
        top: 9px;
    }

    .burger-menu.active .menu-btn {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    }

    .burger-menu.active .menu-btn:before {
        top: 0;
        transform: rotate(45deg);
    }

    .burger-menu.active .menu-btn:after {
        top: 0;
        transform: rotate(135deg);
    }

    .header_bottom .right_side {
        width: auto;
    }

    .header_bottom {
        padding: 10px 0;
    }

    .header_wrap,
    .header_wrap.header_wrap.header_fixed {
        height: 72px;
    }

    .header_bottom .logo {
        margin-right: 0;
    }

    .header_bottom .lang_switch,
    .header_bottom .search-holder,
    .header_bottom .cart_title,
    .header_bottom .cart_price {
        display: none;
    }

    .header .header_top {
        padding: 0;
        border-bottom: none;
        z-index: 3;
    }

    .header.header_fixed .header_top {
        padding: 0;
    }


    .header .wrap_mob {
        padding: 24px 0 40px;
        position: absolute;
        transform: translate(-100%, 0);
        top: 71px;
        background: #fff;
        transition: all 0.4s;
    }

    .header.active .wrap_mob {
        transform: translate(0, 0);
        position: absolute;
        width: 100%;
        background: #fff;
        box-shadow: 0 6px 5px rgba(0, 0, 0, .5);
        overflow-y: auto;
        z-index: 2;
    }

    .header.active .lang_switch.mobile,
    .header.active .search-holder.mobile {
        margin-right: 0;
        display: block;
    }

    .header.active .search-holder.mobile {
        width: 98%;
        z-index: 3;
    }

    .header.active .lang_switch.mobile {
        order: -1;
    }

    .header.active .header_top .main_nav .menu_list {
        margin-bottom: 0;
    }

    .header .header_top .phones,
    .header_top .phones .phone_number,
    .header_top .account,
    .header .main_nav,
    .header .header_top .menu_list li {
        width: 100%;
    }

    .header .main_nav.container_flex {
        order: -1;
        justify-content: flex-start;
    }

    .header .header_top .menu_list li {
        margin-right: 0;
        padding: 10px 0;
        font-size: 14px;
        font-weight: 700;
    }

    .header .header_top .account {
        margin-right: 0;
        padding: 10px 0 10px 18px;
    }

    .header .header_top .phones .phone_number {
        margin-bottom: 5px;
        margin-right: 0;
        padding: 10px 0 10px 18px;
    }
    
    .header_top .account {
        margin-left:0;
    }

    .phones .phone_number a,
    .account a {
        font-size: 14px;
        font-weight: 700;
    }


    .advantages .advantage_item {
        flex-basis: 50%;
    }

    .questions .tabs_wrapper {
        width: 90%;
    }

    .map_wrap {
        width: 100%;
    }

    .partners .partners_list {
        justify-content: space-around;
    }

    .partners .partners_list .partner_item {
        width: 30%;
    }

    .product_item .button_more {
        visibility: visible;
    }

    /* Single Product */
    .single-product.woocommerce div.product {
        width: 100%;
    }

    .single-product div.product div.summary {
        width: 50%;
    }


    /* Contacts */
    .info_page.dostavka.kontakti .wp-block-group .wp-block-column {
        margin-bottom: 20px;
    }

    .info_page.dostavka .wp-block-group h4 {
        font-size: 20px;
    }

    /* Checkput */
    .woocommerce ul.order_details li {
        margin-right: 15px;
        padding: 10px 15px 15px 0;
    }

}

@media (max-width: 768px) {
    .woocommerce table.shop_table_responsive .product-quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info_page.dostavka .content,
    .info_page .content {
        padding: 20px 15px;
    }

    .wp-block-column {
        flex-basis: 100% !important;
        margin-bottom: 20px;
    }

    .wp-block-column:nth-child(2n) {
        margin-left: 0;
    }

    .info_page .content .wp-block-columns {
        margin: 0;
    }

    /* Breadcrumbs */
    .breadcrumbs_wrapper .title h1 {
        font-size: 24px;
    }

    /* Contacts */
    .info_page.dostavka .wp-block-group h4 {
        font-size: 22px;
        margin-bottom: 0;
    }

    /* Single Product */
    .single-product div.product div.summary {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .single-product.woocommerce .product .cart .quantity,
    .single-product .product-bullets {
        justify-content: center;
    }

    .single-product .product_title.entry-title {
        text-align: center;
    }

    .single-product.woocommerce div.product div.images {
        margin: 0 auto 20px;
    }

    .single-product div.product div.summary,
    .single-product .entry_content .title {
        width: 100%;
    }

    .single-product.woocommerce div.product .woocommerce-tabs {
        align-self: stretch;
    }

    /* Category */
    .woocommerce ul.products[class*=columns-] li.product,
    .woocommerce-page ul.products[class*=columns-] li.product {
        width: 49%;
    }

    .post-type-archive .woocommerce-products-header ul.products li.product,
    .tax-product_cat .woocommerce-products-header ul.products li.product {
        width: 22%;
    }


    .woocommerce ul.products[class*=columns-] li.product,
    .woocommerce-page ul.products[class*=columns-] li.product {
        margin-bottom: 10px;
    }

    /* Account */
    .woocommerce table.my_account_orders {
        margin-top: 20px;
    }

    /* Page 404*/
    .content.error .title h1,
    .search-no-results .title h1 {
        font-size: 40px;
    }

    .content.error .subtitle,
    .search-no-results .title h3 {
        font-size: 35px;
    }

    /* Checkout */
    .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
        width: 260px;
    }

}

@media (max-width: 695px) {
    .map_wrap {
        justify-content: center;
    }

    .map .map_description,
    .map .map_image {
        width: 80%;
    }

    .map .map_description {
        margin-bottom: 15px;
    }

    .products .product_item .price,
    .products .product_item .product_title {
        text-align: center;
    }

    /* Category */
    .post-type-archive .woocommerce-products-header ul.products li.product,
    .tax-product_cat .woocommerce-products-header ul.products li.product  {
        width: 29%;
    }

    .woocommerce-products-header h1 {
        text-align: center;
    }

        /* O Nas */
    .info_page .banner {
        background-attachment: initial;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .info_page .content .block_button {
        width: 100%;
    }

    /* Error 404 */
    .content.error .title h1,
    .search-no-results .title h1 {
        font-size: 35px;
    }

    .content.error .subtitle,
    .search-no-results .title h3 {
        font-size: 32px;
    }


}

@media (max-width:600px) {
    .wheat-wrap {
    width: 150px;
    height: 185px;
    }
    .wheat-wrap .wheat2 {
        margin-top:-130px;
    }
    .products.latest .product_item .product_title, .products.top_sales .product_item .product_title, .products.latest .product_item .price, .products.top_sales .product_item .price {
        min-height: inherit;
    }
}

@media (max-width: 576px) {
    .banner .slider .slider_item .title h2,
    .products .title h2,
    .questions .title h2,
    .partners .title h2 {
        font-size: 36px;
    }

    .categories_list .category_item,
    .advantages .advantage_item {
        flex-basis: 100%
    }

    .map .map_description,
    .questions .tabs_wrapper {
        width: 100%;
    }

    .map .map_description .title {
        text-align: center;
    }

    .partners .partners_list .partner_item {
        width: 48%;
    }

    /* Single Product */
    .single-product.woocommerce div.product div.images,
    .single-product.woocommerce-page .product .images {
        width: 280px;
    }


    .single-product.woocommerce .woocommerce-message {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .single-product.woocommerce .woocommerce-message .button.wc-forward {
        margin-left: 0;
        margin-top: 10px;
    }

    /* Search Page */
    .search-no-results .products {
        padding: 30px 0;
    }

    .products {
        padding: 30px 0 0;
    }

    .search-no-results .products .search-holder {
        width: 80%;
    }

    /* Error 404 */
    .content.error .title h1,
    .search-no-results .title h1 {
        font-size: 30px;
    }

    .content.error .subtitle,
    .search-no-results .title h3 {
        font-size: 26px;
    }

    .entry_content,
    .policesection {
        padding: 30px 0 0;
    }
}

@media (max-width: 515px) {
    .footer .footer_top {
        padding: 30px 0;
    }

    .footer .contact_info,
    .footer .footer_nav {
        flex-basis: 100%;
    }


    .footer .contact.recall,
    .footer .contact.viber,
    .footer .contact.telegram,
    .footer .contact.facebook {
        display: none;
    }

    .footer .contact,
    .footer .footer_menu li {
        padding: 8px 0 8px 35px;
        margin: 5px 0;
        border-radius: 5px;
    }

    .footer .footer_menu li {
        padding-left: 12px;
    }


    .footer .contact svg {
        left: 10px;
    }

    .footer .contact a,
    .footer .footer_menu li a {
        color: #fff;
    }

    /* Info Zamovlennya */
    .info_page.zamovlennya .content .text_center,
    .info_page.kontakti .email_group {
        width: 100%;
    }

    .info_page.kontakti .email_group h5 {
        font-size: 20px;
    }

    .info_page .content p {
        font-size: 18px;
    }

    /* Category */
    .tax-product_cat .products .product_item .price,
    .tax-product_cat .products .product_item .product_title,
    .post-type-archive .products .product_item .price,
    .post-type-archive .products .product_item .product_title {
        font-size: 14px;
    }

    .tax-product_cat .products .product_item .product_image,
    .post-type-archive .products .product_item .product_image {
        height: 190px;
    }

    .woocommerce .woocommerce-result-count,
    .woocommerce .woocommerce-ordering {
        float: none;
        text-align: center;
    }

    .woocommerce .woocommerce-ordering {
        width: 85%;
        margin: 0 auto 10px;
    }

    /* Category */
    .post-type-archive .woocommerce-products-header ul.products li.product,
    .tax-product_cat .woocommerce-products-header ul.products li.product {
        width: 43%;
    }
    /* Single Product */
    
    .single-product.woocommerce .product .woocommerce-tabs .panel table td {
        padding: 5px 4px;
    }

}

@media (max-width: 480px) {
    .questions .tabs_wrapper .tabs_item {
        padding: 13px 24px 15px 13px;
    }

    .questions .tabs_wrapper .acc-head:before {
        right: 8px;
    }

    .products .title,
    .questions .title h2,
    .partners .title {
        margin-bottom: 25px;
    }

    /* O Nas */
    .info_page .banner {
        padding: 150px 0;
    }

    .info_page .banner .title h1 {
        font-size: 40px;
    }

    .info_page .content .block_button {
        margin: 10px auto 20px;
        font-size: 20px;
    }

    /* Page 404 */
    .content.error {
        padding: 50px 0;
    }

    .content.error .title h1,
    .search-no-results .title h1 {
        font-size: 25px;
    }

    .content.error .subtitle,
    .search-no-results .title h3 {
        font-size: 22px;
    }

    /*Category*/
    .woocommerce ul.products[class*=columns-] li.product,
    .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100%;
    }

    .post-type-archive .woocommerce-products-header ul.products li.product img,
    .tax-product_cat .woocommerce-products-header ul.products li.product img {
        width: 43%;
    }

    .post-type-archive .woocommerce-products-header ul.products .product-category .woocommerce-loop-category__title,
    .tax-product_cat .woocommerce-products-header ul.products .product-category .woocommerce-loop-category__title {
        font-size: 14px;
    }


    /* Category */
    .post-type-archive .woocommerce-products-header ul.products li.product,
    .tax-product_cat .woocommerce-products-header ul.products li.product {
        width: 43%;
    }

    .tax-product_cat .products .product_item .product_image,
    .post-type-archive .products .product_item .product_image {
        height: 200px;
        width: 60%;
        margin: 0 auto 10px;
    }

}

@media (max-width: 450px) {
    .header_wrap,
    .header_wrap.header_wrap.header_fixed {
        height: 67px;
    }

    .header_bottom .logo {
        width: 180px;
    }

    .header .wrap_mob {
        top: 58px;
    }

    .map .map_image {
        width: 100%;
    }

    .products .title h2,
    .questions .title h2,
    .partners .title h2 {
        font-size: 33px;
    }

    .product_item .button_more .btn {
        width: 80%;
        font-size: 14px;
    }

    .map .title h2 {
        font-size: 26px;
    }

    .products,
    .entry_content,
    .policesection {
        padding: 20px 0;
    }

    .single-product .products,
    .single-product .policesection {
        padding-bottom: 0;
    }

    .products .product_item {
        margin: 0 0 10px 0;
    }

    .questions {
        padding: 30px 0;
    }

    .questions .tabs_wrapper .tabs_item,
    .questions .tabs_wrapper .acc-body {
        font-size: 14px;
    }

    .partners .partners_list .partner_item {
        padding: 0 10px 20px;
    }

    /* Single Product */
    .single-product.woocommerce div.product .product_title.entry-title,
    .single-product.woocommerce .related.products h2 {
        font-size: 20px;
    }

    .single-product.woocommerce div.product .woocommerce-tabs .panel {
        padding: 0 10px;
    }
    .woocommerce.single-product .product form.cart {
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
    }
    
    .single-product.woocommerce .product .cart .quantity {
        margin: 0 0 15px 0;
    }
    .single-product.woocommerce .product h2,
    .single-product.woocommerce .product h3,
    .single-product.woocommerce .product h4,
    .single-product.woocommerce .product h5,
    .single-product.woocommerce .product h6 {
        font-size: 16px;
    }

    .single-product.woocommerce table.shop_attributes th {
        width: 180px;
    }

    .single-product.woocommerce .product p,
    .single-product.woocommerce table.shop_attributes th,
    .single-product.woocommerce table.shop_attributes td,
    .single-product.woocommerce .product .woocommerce-tabs .panel table td {
        font-size: 13px;
    }
    .single-product.woocommerce .product .woocommerce-tabs .panel table td,
    .single-product.woocommerce .product .woocommerce-tabs .panel table p {
        word-break: break-word;
    }
   .single-product .product .summary .product_meta {
       text-align: center;
   }

    .single-product.woocommerce .product .woocommerce-tabs .tabs li a {
        font-weight: 700;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        font-size: 14px;
        padding: 0 10px;

    }
    .single-product .related.products .owl-nav {
        position: relative;
        top: -18px;
    }

    .single-product .posted_in {
        font-size: 14px;
    }

    .single-product.woocommerce .product .woocommerce-tabs .tabs li a {
        font-size: 14px;
    }


    /* Search Page */
    .search-no-results .products .search-holder {
        width: 100%;
    }

    .search-no-results .products .content.title h1 {
        font-size: 20px;
    }

    .search-no-results .products .content.title h3,
    .content.error .subtitle {
        font-size: 18px;
    }

    /* Cart */
    .woocommerce table.shop_table_responsive .product-name a {
        font-size: 14px;
    }

    .woocommerce-page table.cart td.actions .coupon .button {
        width: 63%;
    }
    .woocommerce-cart  .woocommerce-shipping-totals td[data-title="Доставка"] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    .woocommerce-cart  .woocommerce-shipping-totals td[data-title="Доставка"] #shipping_method {
        margin-top: 10px;
        text-align: left;
    }

    .woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-destination {
        text-align: left;
    }
    .woocommerce  table.shop_table th,
    .woocommerce  table.shop_table td {
        font-size: 14px;
        line-height: 1.3;
    }
    .woocommerce-checkout  table.shop_table th,
    .woocommerce-checkout  table.shop_table td {
        padding: 9px 0 9px 7px;
    }
    .woocommerce-checkout  table.shop_table td {
        padding: 9px 9px 9px 5px;
        text-align: right;
    }
    .woocommerce table.shop_table #shipping_method td input,
    .woocommerce ul#shipping_method input {
        -webkit-appearance: radio;
        border: none;
    }

    .woocommerce-checkout  table.shop_table .cart_item td.product-name {
        padding-left: 9px;
        text-align: left;
    }
    .woocommerce-checkout table.shop_table th.product-total {
        text-align: right;
        padding-right: 9px;
    }


        /* Info Zamovlennya */
    .info_page.zamovlennya .content .text_center {
        font-size: 16px;
    }
    
    .info_page .wp-block-group p,
     .info_page .wp-block-group li {
         font-size: 14px;
     }

    /* Breadcrumbs */
    .breadcrumbs_wrapper .title h1 {
        font-size: 20px;
    }

    /* Modal */
    #call-back {
        width: 95%;
        padding-bottom: 15px;
    }

    #call-back form {
        width: 98%;
    }

    #call-back h4 {
        font-size: 23px;
    }

    /* Page 404 */
    .content.error .title h1 {
        font-size: 22px;
    }

    .content.error .main-image {
        width: 55px;
    }

    /* Category */
    .tax-product_cat .products .product_item .product_image,
    .post-type-archive .products .product_item .product_image {
        width: 72%;
    }

    .woocommerce-products-header h1 {
        font-size: 24px;
    }

    /* Filter */

    .sidebar.active .filter_wrapper {
        width: 100%;
    }

    .sidebar.active .filter_wrapper {
        padding-bottom: 65px;
    }

}

@media (max-width: 380px) { 
 .single-product.woocommerce .product .woocommerce-tabs .tabs li a {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .container {
        padding: 0 10px;
    }

    .banner .slider .slider_item .title h2 {
        font-size: 33px;
    }

    .products .title h2,
    .questions .title h2,
    .partners .title h2 {
        font-size: 32px;
    }

    /* Category*/
    .woocommerce .woocommerce-ordering {
        width: 100%;
    }

    .woocommerce-products-header h1 {
        font-size: 22px;
    }
    /* Single Product */

    .woocommerce.single-product div.product .woocommerce-tabs ul.tabs {
        font-size: 12px;
        padding-left: 5px;
    }

        /* Cart */
    .woocommerce table.shop_table_responsive .product-name a {
        font-size: 13px;
    }

    .woocommerce-page table.cart td.actions .coupon .button {
        padding: 10px 5px;
    }

    /* Checkout */
    .woocommerce-checkout-review-order .cart_item .product-name {
        font-size: 14px;
    }

    /* O Nas */
    .info_page .banner {
        padding: 130px 0;
    }

    .info_page .banner .title h1 {
        font-size: 35px;
    }

    /* Modal */
    #call-back h4 {
        font-size: 20px;
    }
}